body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5e75db;
    color: white;
}
.torre{
    display: flex;

}
.ventana{
    max-width: 100%;
    width: 30%;
}

.container {
    width: 80%;
    max-width: 800px;
    background-color: #2a5770;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #a350b6;
}
th {
    background-color: #4c88bd;
}
img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

footer{
    display: flex;
    text-align:left;
    background-color: black;
    color: white;
}
.part1{
    padding-left: 2%;
    width: 50%;
}
.part2{
    width: 25%;
}
.part3{
    width: 25%;
}


@media only screen and (max-width: 800px) {
    .container {
        width: 90%
    }

    .torre {
        flex-direction: column;
    }

    .part1 {
        width: 100%;
        padding-left: 0; 
    }

    .part2 {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        width: 90%;
    }

    .torre {
        flex-direction: column;
    }

    .part1{
        width: 100%;
        padding-left: 0;
    }

    .part2{
        width: 100%;
        padding-left: 0;
    }

    .part3 {
        width: 100%;
        padding-left: 0;
    }
}
