<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gang Beast</title>
    <link rel="icon" href="../img/mando.png">
    <link rel="stylesheet" href="../css/style.videojocs.css">
</head>
<body>
    <div>
        <div class="torre">
            <div>
                <img src="../img/gang_beasts_pc.jpg">
            </div>
            <div class="container">
                <h1>Gang Beast</h1>
                <table>
                    <tr>
                        <th>Tipo</th>
                        <th>Descripción: Gang Beasts es un desternillante juego multijugador de peleas absurdas entre personajes gelatinosos y gruñones que tienen lugar en los peligrosos entornos de las calles de la ciudad de Picadillo. 
                        </th>
                    </tr>
                    <tr>
                        <td>Restricciones de Edad</td>
                        <td>Edad Minima 7 años</td>
                    </tr>
                    <tr>
                        <td>Tipo de Juego</td>
                        <td>Juego Multijugador de peleas absurdas</td>
                    </tr>
                    <tr>
                        <td>Dispositivos</td>
                        <td>Switch , XBOX, PC, Play4/5</td>
                    </tr>
                    <tr>
                        <td>Precio</td>
                        <td>24,95€</td>
                    </tr>
                    <tr>
                    <td>Links de Compra</td>
                    <td>
                    <a href="https://www.game.es/gang-beasts-playstation-4-172787">Compra</a>
                    </td>
                </tr>
                </table>
            </div>
        </div>
        <br>
        <br>
        <div class="twhocon">
            <table>
                <tr>
                    <td>Personaje</td>
                    <td>
                    <img src="../img/gang beasts.gif" alt="">
                    </td>
                </tr>
            </table>
        </div>
        </div>
    </div>
    <br>
    <br>
    <div>
        <footer>
            <div class="part1">
                <p>&copy; topgames</p>
            </div>
            <div class="part2">
                <p>Facebook : @topgames</p>
                <p>Instagram: @topgames</p>
            </div>
            <div class="part3">
                <a href="../index.html">Pagina de Inicio</a>
            </div>
        </footer>
    </div>
</body>
</html>