<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimate Chicken</title>
    <link rel="icon" href="../img/mando.png">
    <link rel="stylesheet" href="../css/style.videojocs.css">
</head>
<body>
    <div class="torre">
        <div>
            <img src="../img/ultimate_chicken_horse_cover_cdkeys_1.jpg" alt="pistola USP CYMA CM125">
        </div>
        <div class="container">
            <h1>Ultimate Chicken</h1>
            <table>
                <tr>
                    <th>Tipo</th>
                    <th>Descripción: Ultimate Chicken Horse es un juego de plataforma en grupo en el que tú y tus amigos construís el nivel mientras vais jugando, colocando trampas mortales antes de intentar alcanzar el final del nivel. Si lo consigues y tus amigos no, ¡ganas puntos!
                    </th>
                </tr>
                <tr>
                    <td>Restricciones de Edad</td>
                    <td>Edad Minima 6 años</td>
                </tr>
                <tr>
                    <td>Tipo de Juego</td>
                    <td>Plataformas</td>
                </tr>
                <tr>
                    <td>Dispositivos</td>
                    <td>Xbox Series X/S, PS5, Switch, Xbox One, PS4.
                    </td>
                </tr>
                <tr>
                    <td>Precio</td>
                    <td>14,99€</td>
                </tr>
                <tr>
                <td>Links de Compra</td>
                <td>
                <a href="https://www.nintendo.com/es-es/Juegos/Programas-descargables-Nintendo-Switch/Ultimate-Chicken-Horse-1442452.html">Compra</a>
                </td>
            </tr>
            </table>
            <table>
                <tr>
                    <td>Personaje</td>
                    <td>
                    <img src="../img/mapachelen.webp">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <footer>
            <div class="part1">
                <p>&copy; topgames</p>
            </div>
            <div class="part2">
                <p>Facebook : @topgames</p>
                <p>Instagram: @topgames</p>
            </div>
            <div class="part3">
                <a href="../index.html">Pagina de Inicio</a>
            </div>
        </footer>
    </div>
</body>
</html>