<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNO</title>
    <link rel="icon" href="../img/mando.png">
    <link rel="stylesheet" href="../css/style.videojocs.css">
</head>
<body>
    <div class="torre">
        <div>
            <img src="../img/mario-party-superstars-2021102016543846_1.webp" alt="pistola USP CYMA CM125">
        </div>
        <div class="container">
            <h1>Mario Party</h1>
            <table>
                <tr>
                    <th>Tipo</th>
                    <th>Descripción: Mario Party es una serie de videojuegos en los que cuatro personajes del universo de Mario, controlados por personas o por la consola, compiten en un juego de tablero, utilizando dados para moverse en casillas y participando en múltiples minijuegos.
                    </th>
                </tr>
                <tr>
                    <td>Restricciones de Edad</td>
                    <td>Edad Minima 6 años</td>
                </tr>
                <tr>
                    <td>Tipo de Juego</td>
                    <td>Minijuegos y Fiesta</td>
                </tr>
                <tr>
                    <td>Dispositivos</td>
                    <td>Switch, Wii U, Nintendo 3DS, NDS, Wii, Game Boy Advance, GameCube y Nintendo 64</td>
                </tr>
                <tr>
                    <td>Precio</td>
                    <td>59,99€</td>
                </tr>
                <tr>
                <td>Links de Compra</td>
                <td>
                    <a href="https://www.game.es/super-mario-party-nintendo-switch-151932">Compra</a>
                    </td>
            </tr>
            </table>
            <table>
                <tr>
                    <td>Objetos Especiales</td>
                    <td>Xbox Series X/S, PS5, Switch, Xbox One, PS4, PSVITA, Android, iPhone, PS3, Wii, Xbox 360, NDS, PSP, N-Gage, Xbox, Game Boy Advance, GameCube, PC, PS One, PS2 y Dreamcast.
                    </td>
                </tr>
                <tr>
                    <td>Personaje</td>
                    <td>
                    <a href=""></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <footer>
            <div class="part1">
                <p>&copy; topgames</p>
            </div>
            <div class="part2">
                <p>Facebook : @topgames</p>
                <p>Instagram: @topgames</p>
            </div>
            <div class="part3">
                <a href="../index.html">Pagina de Inicio</a>
            </div>
        </footer>
    </div>
</body>
</html>