<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worms</title>
    <link rel="icon" href="../img/mando.png">
    <link rel="stylesheet" href="../css/style.videojocs.css">
</head>
<body>
    <div class="torre">
        <div class="ventana">
            <img src="../img/worms w.m.d.webp" alt="pistola USP CYMA CM125">
        </div>
        <div class="container">
            <h1>Worms</h1>
            <table>
                <tr>
                    <th>Tipo</th>
                    <th>Descripción: Worms es una serie de videojuegos del género de estrategia militar por turnos. En estos juegos se enfrentan dos o más jugadores que controlan uno o varios personajes durante cierto tiempo, con el objetivo de eliminar los personajes de los adversarios. </th>
                </tr>
                <tr>
                    <td>Restricciones de Edad</td>
                    <td>Edad Minima 7 años</td>
                </tr>
                <tr>
                    <td>Tipo de Juego</td>
                    <td>Estrategia</td>
                </tr>
                <tr>
                    <td>Dispositivos</td>
                    <td>Xbox Series X/S, PS5, Switch, Xbox One, PS4, PSVITA, Android, iPhone, PS3, Wii, Xbox 360, NDS, PSP, N-Gage, Xbox, Game Boy Advance, GameCube, PC, PS One, PS2 y Dreamcast.
                    </td>
                </tr>
                <tr>
                    <td>Precio</td>
                    <td>23,39€</td>
                </tr>
                <tr>
                    <td>Links de Compra</td>
                    <td>
                        <a href="https://www.idealo.es/precios/4876876/worms-w-m-d.html#:~:text=Worms%3A%20W.%20M.%20D.%20desde%2023%2C39%20€%20%7C%20Compara%20precios%20en%20idealo">Compra</a>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>Objetos Especiales</td>
                    <td>
                        <img src="../img/wor-obj.webp">
                    </td>
                </tr>
                <tr>
                    <td>Personaje</td>
                    <td>
                    <img src="../img/gusano.webp">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <footer>
            <div class="part1">
                <p>&copy; topgames</p>
            </div>
            <div class="part2">
                <p>Facebook : @topgames</p>
                <p>Instagram: @topgames</p>
            </div>
            <div class="part3">
                <a href="../index.html">Pagina de Inicio</a>
            </div>
        </footer>
    </div>
</body>
</html>