<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNO</title>
    <link rel="icon" href="../img/mando.png">
    <link rel="stylesheet" href="../css/style.videojocs.css">
</head>
<body>
    <div class="torre">
        <div>
            <img src="../img/uno.png" alt="pistola USP CYMA CM125">
        </div>
        <div class="container">
            <h1>UNO</h1>
            <table>
                <tr>
                    <th>Tipo</th>
                    <th>Descripción: UNO, el clásico juego de la infancia que nos encantaba a todos, vuelve a nuestras vidas con una gran cantidad de características nuevas, ¡como chat de vídeo y un nuevo sistema temático que lo hace mucho más divertido!Combina cartas haciendo que su valor o color coincidan y juega cartas especiales para darle la vuelta a la partida. Compite contra otros para ver quién se deshace antes de las cartas en el modo clásico o personaliza la partida con reglas de la casa y ajustes de partida diverso.
                    </th>
                </tr>
                <tr>
                    <td>Restricciones de Edad</td>
                    <td>Edad Minima 6 años</td>
                </tr>
                <tr>
                    <td>Tipo de Juego</td>
                    <td>Juego de Cartas</td>
                </tr>
                <tr>
                    <td>Dispositivos</td>
                    <td>PC, PS5, Iphone, Android, XBOX
                    </td>
                </tr>
                <tr>
                    <td>Precio</td>
                    <td>9,99€</td>
                </tr>
                <tr>
                <td>Links de Compra</td>
                <td>
                <a href="https://www.playstation.com/es-es/games/uno/">Compra</a>
                </td>
            </tr>
            </table>
            <table>
                <tr>
                    <td>Objetos Especiales</td>
                    <td>Xbox Series X/S, PS5, Switch, Xbox One, PS4, PSVITA, Android, iPhone, PS3, Wii, Xbox 360, NDS, PSP, N-Gage, Xbox, Game Boy Advance, GameCube, PC, PS One, PS2 y Dreamcast.
                    </td>
                </tr>
                <tr>
                    <td>Cartas Especiales</td>
                    <td>
                    <img src="">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <footer>
            <div class="part1">
                <p>&copy; topgames</p>
            </div>
            <div class="part2">
                <p>Facebook : @topgames</p>
                <p>Instagram: @topgames</p>
            </div>
            <div class="part3">
                <a href="../index.html">Pagina de Inicio</a>
            </div>
        </footer>
    </div>
</body>
</html>